/* buttons and jumbo tron*/
* {
  box-sizing: border-box;
}

form.city-search input[type=text] {
  padding: 10px;
  font-size: 17px;
 align: left;
  width: 80%;
  background: #f1f1f1;
}

form.city-search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
 border-left: none;
  cursor: pointer;
}

form.city-search button:hover {
  background: #0b7dda;
}

form.city-search::after {
  content: "";
  clear: both;
  display: table;
}

.jumbotron jumbotron-fluid {
  background-color: rgb(31, 31, 37);
  color:whitesmoke

  margin: 0 0 32;
  padding:64 0; 
}
.jumbo-container {
  background-color: rgb(31, 31, 37);
  color:whitesmoke
}

/* added cards and display*/

.display-4{
  text-align: center;
  background-color: rgb(31, 31, 37);
  color:whitesmoke
}

.card-body {
  background-color: blue;
  color:white;
  justify-content: space-between;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width:fit-content
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.uv-index {
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius:.25rem;
}

@media only screen
  and (min-width: 320px)
  and (max-width: 480px)
  and (resolution: 150dpi) {
    body { line-height: 1.4; }
}